{:paths ["src"]
 :deps {
   org.clojure/clojure {:mvn/version "1.8.0"}
   org.apache.maven.resolver/maven-resolver-api {:mvn/version "1.1.0"}
   org.apache.maven.resolver/maven-resolver-spi {:mvn/version "1.1.0"}
   org.apache.maven.resolver/maven-resolver-impl {:mvn/version "1.1.0"}
   org.apache.maven.resolver/maven-resolver-connector-basic {:mvn/version "1.1.0"}
   org.apache.maven.resolver/maven-resolver-transport-file {:mvn/version "1.1.0"}
   org.apache.maven.resolver/maven-resolver-transport-http {:mvn/version "1.1.0"}
   org.apache.maven/maven-aether-provider {:mvn/version "3.3.9"}
   org.slf4j/slf4j-nop {:mvn/version "1.6.2"}
   org.clojure/data.xml {:mvn/version "0.2.0-alpha3"}
 }
 :aliases {
   :1.9b1 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0-beta1"}}} 
 }
 :mvn/repos {
   "central" {:url "https://repo1.maven.org/maven2/"}
   "clojars" {:url "https://clojars.org/repo/"}
 }
}
