name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.4.0
    - name: Set up JDK 1.8
      uses: actions/setup-java@v2.5.0
      with:
        java-version: 8
        distribution: 'temurin'
        cache: 'maven'
    - name: Build with Maven
      run: mvn package --file pom.xml
